/* Variables globales */


/* Se importan las clases animate.scss y hover.scss de la documentación de gitHub */

@import 'animate';
@import 'hover';
#app {
    font-family: "OpenSans-Bold", "OpenSans-BoldItalic", "OpenSans-ExtraBold";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.ttf'), url(OpenSans-Bold.ttf) format('truetype'),
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('OpenSans-BoldItalic.ttf'), url(OpenSans-BoldItalic.ttf) format('truetype'),
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('OpenSans-ExtraBold.ttf'), url(OpenSans-ExtraBold.ttf) format('truetype'),
}

a {
    text-decoration: none;
}

.watch {
    background-color: rgb(233, 218, 14) !important;
    color: black !important;
    border: 1px transparent solid;
    width: 100% !important;
}

.more {
    background-color: transparent !important;
    border: 1px white solid;
    color: white !important;
    width: 100% !important;
}

@media (max-width: 1024px) {
    body {
        font-size: 10px;
    }
    h1 {
        font-size: 35px;
    }
}